<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>I Had Ten Dollars / {{page.title}}</title>
		<link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width;initial-scale=1">
	</head>
	<body>

		<div id="wrapper">
			<div id="stump">
				<header>
					<h1>I Had 10 Dollars</h1>
					<p id="tagline">Because, why not?</p>
				</header>

				<nav id="main">
					<ul>
						<li><a href="/" title="The most recent interviews.">Home</a></li>
						<li><a href="/interviews/" title="All the other interviews.">Interviews</a></li>
						<li><a href="/about/" title="A little more info about the site.">About</a></li>
					</ul>
				</nav>
			</div>

			<div id="content">
			{{content}}
			</div>

			<footer>
				<p>This is a site maintained by Thomas Dunlap, although the guests do most of the hard work. I had this domain for over a year before I realized I should be using it to show off all the cool side projects I love. Waferbaby's site was basically everything I wanted mine to be, so I lifted it. Hard.</p>
			</footer>
		</div>
	</body>
</html>
